@font-face {
	font-family: 'Tiny';
	src: url('/TINY5x3GX.ttf');
	font-weight: 0 300;
}

*,
*::before,
*::after{
	box-sizing: border-box;
}

:root {
	--c-black: oklch(10% 0.04 50);
	--c-white: oklch(90% 0.01 50);
	--c-red: oklch(50% 0.2 15);
}

html {
	overflow: hidden;
}

html, body {
	width: 100%;
	min-width: 100%;
	height: 100%;
	min-height: 100%;
}

a {
	text-decoration: underline;
	text-decoration-color: var(--c-red);
	text-decoration-thickness: 2px;
	color: inherit;
	transition: all .15s ease-out;
	
	&:hover {
		text-decoration-color: transparent;
		color: var(--c-red);
	}
}

#app {
	position: relative;
	width: 100%;
	height: 100%;

	font-family: sans-serif;
	background-color: var(--c-black);
	color: var(--c-white);

	html.ready & {
		opacity: 1 !important;
	}
}

@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

#loading {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	display: grid;
	place-items: center;

	background-color: var(--c-black);

	z-index: 9999;

	opacity: 0;
	pointer-events: none;
	transition: all .15s ease-out;
	
	html.loading & {
		opacity: 1;
		pointer-events: all;
	}

	i {
		animation-name: spin;
		animation-timing-function: linear;
		animation-duration: 1s;
		animation-delay: 0s;
		animation-fill-mode: forwards;
		animation-iteration-count: infinite;
		animation-direction: normal;
		animation-play-state: running;
	}
}

#info-lock {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	
	text-align: center;
	text-shadow: 0 0 1px black;

	pointer-events: none;
	z-index: 999;

	opacity: 1;
	transition: all 1s ease-out;

	html.unlocked & {
		opacity: 0;
	}
	
	#command {
		font-family: 'Tiny';
		font-size: 2.4rem;
		line-height: 80%;
		font-variation-settings: 'wght' 80;
		text-transform: lowercase;
	}
	
	#hint {
		font-size: 1.2rem;

		& > * {
			opacity: 0.5;
		}

		html.unlock-condition-one & .fa-hand-peace,
		html.unlock-condition-two & .fa-hand {
			opacity: 1;
		}
	}
}

#info {
	--group-width: 360px;

	position: absolute;
	top: 0;
	left: 0;
	right: 0;

	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	gap: 50px;

	padding: 10px;

	font-family: 'Tiny';
	font-size: 2.4em;
	line-height: 80%;
	font-variation-settings: 'wght' 80;
	text-transform: lowercase;

	z-index: 99;

	opacity: 0;
	transition: all 1s ease-out;

	html.unlocked & {
		opacity: 1;
		pointer-events: all;
	}

	.info-group {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		gap: 15px;

		width: min( var(--group-width), 100vw );
		max-width: 100%;
		overflow: visible;
		
		&.dev {
			font-size: 0.5em;

			& > * {
				margin-top: -0.85rem;
				margin-bottom: -0.25rem;
			}
		}
		
		& > * {
			display: inline-block;
			overflow: visible;
			margin-top: -0.85rem;
			margin-bottom: 0.35rem;
		}

		h1, h2 {
			font-size: 1em;
			font-variation-settings: 'wght' 160;
		}
	}
}

#video {
	position: relative;
	width: 100%;
	height: 100%;

	display: grid;
	place-items: center;

	z-index: 1;
	
	video {
		width: 75%;
		height: 75%;
		object-fit: contain;
		opacity: 0.1;
	}

	canvas {
		position: absolute;
		top: 50%; 
		left: 50%;
		width: 100%;
		height: 100%;
		transform: translate(-50%, -50%);
		
		opacity: .5;
		transition: opacity .15s ease-out;

		html.unlocked & {
			opacity: 1;
		}

		html.no-detections & {
			opacity: 0 !important;
		}
	}
}

#options {
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding: 10px;

	z-index: 9;
	
	html.no-user-media & {
		display: none;
	}

	label {
		cursor: pointer;

		input {
			display: none;
		}

		.label {
			--size: 4em;

			display: grid;
			place-items: center;

			width: var(--size);
			height: var(--size);
			border-radius: 50%;
			border-width: 2px;
			border-style: solid;
			border-color: var(--c-white);
			
			background-color: transparent;
			color: var(--c-white);
			opacity: 1;
			
			transition: all .15s ease-out;
			
			&:hover {
				background-color: var(--c-white);
				color: var(--c-black);
				opacity: 0.25;
			}
		}

		input:checked + .label {
			background-color: var(--c-white);
			color: var(--c-black);
			opacity: 1;
			
			&:hover {
				opacity: 0.75;
			}
		}

		i {
			transition: color .15s ease-out;
		}

	}
}

#reactions {
	position: absolute;
	bottom: 0; 
	left: 0;
	width: auto;
	height: auto;

	display: inline-flex;
	justify-content: center;
	align-items: flex-end;
	gap: 10px;

	padding: 10px 20px;
	border-width: 1px 1px 0 0;
	border-style: solid;
	border-color: var(--c-white);
	border-top-right-radius: 10px;

	transform: translateX(0) translateY(0);
	opacity: 1;
	transition: all .15s ease-out;
	
	html.no-detections & {
		transform: translateX(-10px) translateY(10px);
		opacity: 0;
	}

	& > * {
		transform: translateY(10px);
		opacity: 0;
		transition: all .15s ease-out;
	}
	
	html[gestures*="Open_Palm"] & > .open-palm,
	html[gestures*="Pointing_Up"] & > .pointing-up,
	html[gestures*="Thumb_Up"] & > .thumb-up,
	html[gestures*="Thumb_Down"] & > .thumb-down,
	html[gestures*="Closed_Fist"] & > .closed-fist,
	html[gestures*="Victory"] & > .victory,
	html[gestures*="Middle_Finger"] & > .middle-finger{
		transform: translateY(0);
		opacity: 1;
	}
}